---

### Paramètres PROD
db_host_assurmix: xx.xx.xx.xx
db_name_assurmix: truc
db_user_assurmix: truc
db_pass_assurmix: 
env_assurmix: production
github_api_token:
rollbar_serveur_token: ''
theme_path: /var/www/
docker_user_id: 1000
mail_host: smtp.com
mail_port: 587
mail_user: mail@user.com
mail_pwd: 
amix_document_path: /var/www/documents_prod1


### Paramètres Globals
docker_path: crmix-docker

innocore_rsa_filename: innocore
innocore_passphrase:

db_host_app: localhost
db_name_app: database
db_user_app: username
db_pass_app: abc123

crmix_deploy_to: /home/{{ ansible_user }}/{{ docker_path }}/CRMix
crmix_keep_releases: 4

git_pull_deploy: yes
rebuild_docker: no
install_vendor: yes
force_rebuild: yes

refresh_twig: yes

seyna_key_id: 
seyna_key_secret: 
seyna_porfolio_dev: 
seyna_porfolio_prod: 
