#!/bin/bash
eval $(ssh-agent)
/var/www/html/shared/expect-ssh-add
#rm /var/www/html/shared/expect-ssh-add
cd /var/www/html/current && /bin/composer install --no-dev
chown {{ docker_user_id }} -R vendor
#/usr/local/bin/apache2-foreground
